@model minhas_contas.Models.Account
<div class="form-horizontal">
    <form action="Create" method="POST">
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="id"/>
        </div>
        <div class="form-group">
            <label>Data da Leitura</label>
            <input class="form-control"
                    type="text" 
                    name="dataLeitura"/>
        </div>
        <div class="form-group">
            <label>Num. Leitura</label>
            <input class="form-control"
                    type="long" 
                    name="numLeitura"/>
        </div>
        <div class="form-group">
            <label>Kw Gasto</label>
            <input class="form-control"
                    type="long" 
                    name="KwGasto"/>
        </div>
        <div class="form-group">
            <label>Valor à Pagar</label>
            <input class="form-control"
                    type="double" 
                    name="valorPagar"/>
        </div>
        <div class="form-group">
            <label>Media de Consumo</label>
            <input class="form-control"
                    type="long" 
                    name="mediaConsumo"/>
        </div>
        <div class="form-group">
            <label></label>
            <input class="form-control"
                    type="hidden" 
                    name="dataPagto"/>
        </div>
        <input class="btn btn-primary"
                type="submit" value="Salvar"/>
    </form>
</div>